{% load static %}<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>S3 Example Static Only</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/app.css' %}">
</head>
<body>
<header>
    {% block content %}
        <h2>Public Uploads</h2>
        <h3>Upload to Amazon S3</h3>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>

        <p><a href="{% url 'index' %}">Return to home</a></p>

        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Uploaded at</th>
                <th>Size</th>
            </tr>
            </thead>
            <tbody>
            {% for document in documents %}
                <tr>
                    <td><a href="{{ document.upload.url }}" target="_blank">{{ document.upload.name }}</a></td>
                    <td>{{ document.uploaded_at }}</td>
                    <td>{{ document.upload.size|filesizeformat }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No data.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endblock %}
</header>
<main>

</main>

</body>
</html>

