Django==3.0.8
django-active-link==0.1.6
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==0.0.7
django-http2-push==0.0b2
django-pipeline==1.6.14
django-recaptcha3==0.1.0
django-scheduler==0.8.8
django-webpush==0.3.1
djangorestframework==3.9.1
pywebpush==1.9.4
requests==2.24.0
requests-oauthlib==1.2.0
requests-unixsocket==0.1.5
social-auth-app-django==3.1.0
social-auth-core==3.1.0
urllib3==1.25.8
beautifulsoup4==4.8.1
certifi==2019.9.11
chardet==3.0.4
defusedxml==0.6.0
idna==2.8
PyJWT==1.7.1
pytz==2019.3
soupsieve==1.9.4
boto3==1.14.23
django-storages==1.9.1
django-detect==1.0.18
gunicorn==19.9.0
psycopg2==2.7.7
psycopg2-binary==2.8.3